.bg-dark .nav > li.active>a,
.bg-dark .nav > li:focus>a,
.graph-svg-tip .nav > li.active>a,
.graph-svg-tip .nav > li:focus>a
{
    background-color: rgb(217, 0, 0);
    border-radius: 0 !important;
}
.bg-dark .nav > li:hover>a,
.graph-svg-tip .nav > li:hover > a{
    background-color: rgb(217, 0, 0);
    border-radius: 0 !important;
}

.logout-container button{
    cursor: pointer;
    background-color: rgba(220,38,38 , 0.8) !important;
}
.logout-container button:hover{
    background-color: rgba(220,38,38 , 1) !important;
    color: #fff !important;
}
.no-bg{
    background-color: unset !important;
}
.text-white{
    color: #fff !important;
}

/* Fixing collapse menus on the profile page taken from the JetStream default page - Begin */
.show{
    visibility: visible !important;
}
/* Fixing collapse menus on the profile page taken from the JetStream default page - End */